/* <------------USER INFO ---------------> */

.profileInfo{
      background-color: var(--secondary-section-color);
      border-radius: 10px;


      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;
      padding:5px 80px 5px 40px;

      min-height: 100px;
      padding-bottom: 40px;


      overflow: visible;
        margin-bottom: 5px;


}

.conditional{
    opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}

.conditionalShow{

    opacity: 1;
    max-height: 500px;


}



.moreInfo{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;



}

.moreInfo p{

    margin-right: 10px;
    color: rgb(74, 221, 229);
}

.nickname{
    margin-top: 10px;

}

.birthday{
    margin-top: 10px;
    margin-bottom: 10px;
}



.moreInfoBlock p{
    margin-bottom: 10px;

}

.about{
  max-width: 550px;
  margin-top: 20px;
  margin-left:80px;
  border-right: var(--main-border);
}

.avatarImg{
    width: 120px;
    height: 120px;
    position: absolute;

    top: -30px;
    z-index: 100;
    border-radius: 50%;
    background-color: aliceblue;
}

.avatarImg img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.nameDiv{
    display: flex;
    align-items: flex-end;
}

.additionalElem{

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 60%;
    border-radius: 20px 20px 10px 10px;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.name{
    margin-top: 5px;
    margin-bottom: 8px;
    letter-spacing:1.4px;
}

.additionalElemImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.infoDetails{
    margin-left: 10px;
}

.decorColor{
    position: absolute;
    width: 100%;
    height: 30%;
    opacity: 20%;
    border-radius: 0 0 40px 40px;
    background-color: var(--primary-background);
    top: 0;
    left: 0;
}

