.creatGroupWrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: var(--main-border);

    width: 100%;
    top: 120px;
    background: var(--secondary-section-color);
    border-radius: 10px;
    padding: 15px;

}

.titleInput{
    max-width: 200px;
    height: 30px;
    margin-bottom: 30px;
    border: var(--main-border);
    background: var(--main-section-color);
    border-radius: 5px;
    padding: 10px;
}

.creatGroupWrapper label {
    margin-bottom: 10px;
    margin-left: 10px;
}


.groupAbout{
    resize: none;
    margin-bottom: 30px;
    border: var(--main-border);
    background: transparent;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    background: var(--main-section-color);

}

.titleInput,.groupAbout:focus{
    outline: none;
}

.addImageDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.buttonDiv{
    display: flex;
    justify-content: flex-end;
}

.buttonDiv button{
    width: 80px;
    margin-bottom: 5px;
    border: transparent;
    background: transparent;
    background: var(--main-details-color);
    padding: 3px;
    font-size: 15px;

    cursor: pointer;
    border-radius: 5px;
}

.buttonDiv button:hover{
    background: var(--bright-blue-color);
}

.errorDiv{
    color: red;
}

.previewDiv{
    width: 100%;
    height: auto;
}

.previewImg{
    width: 100%;
   max-height: 150px;
   border-radius: 20px 20px 0  0;
   margin-bottom: 20px;
   object-fit: cover;
}