.eventContainer{
    background-color: var(--secondary-section-color);
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 20px;
    padding-bottom: 10px;

}

.eventAbout{
    margin-top: 20px;
    margin-bottom: 20px;
}
.eventContainer h2{
    margin-top: 5px;
}

.eventAuthor{
    display: flex;
}
.eventAuthor img{
    margin-right: 10px;
}

.dateTime{
    display: flex;
}
.eventTime{
    font-size: 24px;
    margin-bottom: 2px;
}

.eventUpper{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--main-border);
}

.votingBlock{
    display: flex;
    flex-direction: column;
}
.question{
margin-bottom: 10px;
margin-left: 7px;
}

.votingBlock button{
    width: 70px;
    margin-bottom: 8px;
    border: transparent;
    background: transparent;
    background: var(--main-details-color);
    padding: 3px;
    font-size: 15px;

    cursor: pointer;
    border-radius: 5px;
    display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5 10px;
}
.votingBlock button img{
margin-left: 15px;
}

.votingBlock button:hover{
    background: var(--bright-blue-color);
}

.downBlock{
    display: flex;
    justify-content: flex-end;
}
.downBlock button{
    width: 80px;
    margin-bottom: 5px;
    border: transparent;
    background: transparent;
    background: var(--main-details-color);
    padding: 3px;
    font-size: 15px;

    cursor: pointer;
    border-radius: 5px;

}

.downBlock button:hover{
    background: var(--bright-blue-color);
}
.eventDate{
    font-size: 24px;
    margin-right: 5px;
}





.goingProgress{
    position: relative;
    width: 400px;
    height: 30px;
    background-color:var(--main-section-color);
    margin-bottom: 10px;
    display: flex;

    border-radius: 10px;
}

.notGoingProgress{
    position: relative;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--main-section-color);
}

.goingProgressFill{

    height: 30px;
    background-color:var(--main-details-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.goingProgress p{
    position: absolute;
    top: 4px;
    right: 10px;
}

.notGoingProgress p{
    position: absolute;
    top: 4px;
    right: 10px;
}
.notGoingProgressFill{
    height: 30px;
    background-color:var(--main-details-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goingUsersNr{
    position: absolute;
    left: 10px;
    top: 4px;
}
.notGoingUsersNr{
    position: absolute;
    left: 10px;
    top: 4px;
}

.eventImg{
    width: 100%;
 height: 300px;
object-fit: cover;
margin-bottom: 15px;

}