

.myGroup{
    border-bottom: var(--main-border);
    display: flex;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.myGroup:hover{
    background-color: var(--main-section-color);
    cursor: pointer;
}
.myGroup div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myGroup img{
    margin-right: 10px;
}


.subscribers{
    font-size: 13px;
    margin-bottom: 5px;
}

.groupName{
    margin-top: 10px;
    font-size: 17px;
}

.link{
    color:var(--main-text-color)
}

.noGroups{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.8ms ease-in-out;
    background-color: var(--secondary-section-color);
}

