.options{
    grid-column-start: 7;
    grid-column-end: -1;

    height: 200px;
    padding: 20px;

    border-radius: 10px;
    margin-bottom: 10px;

    background-color: var(--secondary-section-color);
    opacity: 0%;
}