.btnsBlock{
    grid-column-start: 7;
    grid-column-end: -1;

    height: 110px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;

    border-radius: 10px;

    background-color: var(--secondary-section-color);
}

.btnsBlock{
    display: flex;
    flex-direction: column;

}

.btnsBlock button{
margin-bottom: 5px;
background: transparent ;
border: transparent ;
background-color: var(--main-section-color);

padding: 5px;
cursor: pointer;
border-radius: 5px;
}

.btnsBlock button:hover{
    background-color: var(--main-details-color);

}

.selected{
    background-color: var(--main-details-color) !important;
}