.Header {
    height: 50px;
    background-color: var(--secondary-section-color);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    color: black;
    color: var(--main-text-color);



}


.HeaderContainer {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: -1;
    padding: 10px 10px;
    display: grid;
    max-width: 1200px;
    width: 100%;

    grid-template-columns: repeat(14, 1fr);
    align-items: center;
    justify-content: center; /* Center horizontally */
    position: relative;
}

/*<----------LOGO BLOCK*<---------->/*/
.logo {
    margin-right: 10px;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logoBlock h1 {
    margin: 0;

  clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}



/*<----------USER BLOCK*<---------->/*/
.UserInfoBlock {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    grid-column-start: 12;

}

.UserInfoBlock img {
    width: 26px;
    height: 26px;

}

.UserProfileBlock {
    width: 60px;

    border-radius: 10px;
    padding: 4px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.userAvatar {

    border-radius: 50%;
    object-fit: cover;
    background-color: #eaeaea;
    margin-right: 15px;

}

.arrow {
    width: 16px !important;
    height: 16px !important;
}

.arrowReverse{
    transform: rotateX(180deg);}


.switchBox{
    display: none ;
}

.swithcDiv {
    position: absolute;
    top: 10px;
    right: 0px;

}

.switchLabel {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;


}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d1d1d1;
    transition: 0.4s;
    border-radius: 34px;
}

.switch switchBox {
    display: none
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 5px;
    top: 2px;
    background-color: #f9e127;
    transition: 0.4s;
    border-radius: 50%;

}

.switchBox:checked + .slider {
    background-color: #3d3d3d;

}

.switchBox:checked + .slider:before {
    transform: translateX(12px);
    background-color: #ebeaea;
}


.modal{
    width: 140px;
    height: 90px;
    background-color: var(--main-section-color);
    border-radius: 10px;
    position: absolute;
    top:53px;
    right:  145px;
    z-index: 999;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.modal a{
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 13px;
}


.logoutBtn{
    width: 100%;
    height: 20px;
    border: transparent;
    background-color: var(--main-details-color);
    margin-top: 10px;
    cursor: pointer;

    transition: all 180ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-text-color);
    font-size: 13px;
    border-radius: 4px;


}

.logoutBtn:hover{
    transform: scale(1.05);
    background-color: var(--bright-blue-color);
}

.logoutImg{
width: 15px !important;
height: 15px !important;
margin-left: 10px;
}


.notificationBell{
    cursor: pointer;
}


.notificationModal{
    width: 300px;
    min-height: 150px;
    background-color: var(--main-section-color);
    position: absolute;
    right:150px;
    top: 60px;
    z-index: 444;
    border-radius: 10px;
    padding: 10px;
    max-height: 250px;
    overflow: auto;
}


.notificationModal::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Define the thumb style */
  .notificationModal::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }

  /* Define the track style */
  .notificationModal::-webkit-scrollbar-track {
    background: transparent;
  }


.notificationDiv{
    padding: 5px;
    margin-bottom: 6px;
    background: var(--secondary-section-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all 0.23s ease-in-out;

}

.notificationDiv:hover{
    transform: scale(1.05);
    background: var(--secondary-section-color);
    background: var(--mymsg-color);
}

.popUpDiv{
    width: 300px;
    height: 100px;
    background-color: rgba(46, 44, 44, 0.759);
    padding: 20px;

    bottom: 20px;
    right: 50px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.closeModal{
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
}

.closeNotification{
    position: absolute;
    top: 2px;
    right: 15px;
    cursor: pointer;
}

.notificationContainer{
    position: absolute;
    bottom: 50px;
    right: 30px;

}

.notificationCount{
    background-color: #fa8006;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    font-size: 11px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 7px;
    top: -5px;
}