
.newsContainer {
    border-radius: 10px;


    display: grid;
    grid-template-columns: repeat(8,1fr);


    gap: 20px;
    overflow: hidden;
    padding: 15px;
}


.newsPostsContainer{
    grid-column-start: 1;
    grid-column-end: 7;


    overflow: auto;



}

.newsPostsContainer::-webkit-scrollbar {
    width: 0;
}

