
.signupWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.loginForm {
    width: 500px;
    height: 700px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;

    background-color: var(--main-section-color);
    display: flex;
    align-items: center;

    flex-direction: column;
    padding: 1rem 3rem;




}
.loginForm label{
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 20px;



}


.aboutTextarea {
    border: transparent;
    background-color: transparent;
    resize: none;
    margin-top: 35px;
    height: 50px;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
    padding: 5px;

}

.aboutTextarea::placeholder {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top:5px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.avatar {

position: absolute;

}

.aboutTextarea:focus{
    outline: none;
}

.loginForm h2 {
    font-size: 28px;

}

.avatarBtn {

    width: 70%;
    border: transparent;


    background-color: #53b7c6;
    font-size: 15px;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;


}

.avatarBtn:hover {
    background-color: #41d5f5;
}


.underline {
    background-color: #54c8e0;
    height: 3px;
    width: 120px;
    border-radius: 10px;

  margin-top: 8px;
  margin-bottom: 6px;
}

.loginForm input {
    height: 30px;
    padding: 3px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #bfbfbf;

    background-color: transparent;
    font-size: 15px;
}



.loginForm input:focus {
    outline: none;
}

.signUpBtn {

    height: 40px;
    width: 100%;
    border: transparent;
    cursor: pointer;
    background-color: var(--bright-blue-color);
    font-size: 19px;
    margin-top:30px;
    border-radius: 51px;
    transition: all 9v 0ms ease-in-out;
    padding: 5px;
}

.signUpBtn:hover {
    background-color: #41d5f5;
}



.birthInput input {
    margin-bottom: 0;
}

.Select {
    width: 100%;
    height:30px;
    border: transparent;
    background-color: transparent;
    border-bottom: 1px solid #bfbfbf;

}
.selectWrapper{
    margin-bottom: 20px;
}



.genderHeading {
    margin-bottom: 33px;
}

.linkdiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 13px;

}

.linkdiv p{
    margin-right: 6px;
}

.passwordErrorDiv{
    display: flex;
    justify-content: center;
    color: rgb(214, 22, 22);
    font-size: 13px;
    margin-top: 4px;
}

.imgDiv{
    position: relative;
    height: 120px;

}

.dragDiv{

    border: 2px dashed var(--bright-blue-color);
    right: -220px;
    top: 0;
    height: 110px;

    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dragDiv input{
   border: transparent;
   font-size: 12px;

}
.dragDiv input:hover{
    background: transparent;
}

.chooseImgText{
    cursor: pointer;
    font-size: 15px;
}

.chooseImgText:hover{
   color: #2e9cb5;
}

.selectedImg{
    position: relative;
    top: -15px;
    object-fit: cover;
    width: 130px;
    height:130px;
    border-radius: 50%;
}

.removeImgBtn{
    cursor: pointer;
}

.errorDiv{
    display: flex;
    justify-content: center;
    color: rgb(214, 22, 22);
    font-size: 13px;
    margin-top: 4px;
}