.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);


    gap: 10px;
    overflow: hidden;
    height: 100%;
    color: var(--main-text-color);
}

.sidebar{
    grid-column-start: 7;
    grid-column-end: -1;




}

.uppperInfo{
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
}

.noPosts{
    width: 100%;


    font-size: 30px;
}

.noPosts div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.noPosts button{
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    font-size: 23px;
    border: transparent;
    background-color: var(--bright-blue-color);
    padding: 5px;
    cursor: pointer;
    transition: all 0.5ms ease-in-out;

}

.noPosts button:hover{
    background-color: var(--main-details-color);
}

.notAMember{
    width: 100%;

    display: flex;
    justify-content: center;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 50px;
    font-size: 30px;
}
/* Updated CSS */
.app-container a {
    text-decoration: none;
    color: var(--main-text-color);

}


.groupContainer{
    margin-bottom: 50px;
}